.nav-text{
    font-size: 19px;
}
.footer_bg_color{
    background-color:#050505;
}
.foeter-but{
    background-color: #d4b26a;
    display: inline-block;
    height: 60px;
    margin: 15px;
    max-width: 208px;
    vertical-align: middle;
    width: 200px;
    padding: 1%;
}